/*--------------------------------------------------
  GENERAL
--------------------------------------------------*/

:root {
    --yellow: #FE971D;
    --yellow-dark: #DE8519;
    --green: #32D898;
    --green-dark: #28AC79;
    --gray: #363f5a;
    --light-gray: #99a7b6;
}

* {
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 106px;
}

html,
body,
a {
    color: var(--gray);
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

h3 {
    font-size: 36px;
    line-height: 1.3;
}

h2 {
    font-size: 48px;
}

input {
    outline: none;
}

.text-center {
    text-align: center;
}

.btn {
    border-radius: 50px;
    display: inline-block;
    font-weight: 700;
    transition: all .5s;
}

.btn.l {
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    font-size: 18px;
}

.btn.m {
    height: 35px;
    line-height: 31px;
    padding: 0 26px;
}

.btn.s {
    height: 30px;
    line-height: 26px;
    font-size: 14px;
    padding: 0 30px;
}

.btn.green {
    background-color: var(--green);
    border: 2px solid var(--green);
    color: #fff;
}

.btn.green:hover {
    background-color: var(--green-dark);
    border-color: var(--green-dark);
}

.btn.white {
    background-color: #fff;
    border: 2px solid var(--green);
    color: var(--green);
}

.btn.white:hover {
    border-color: var(--green-dark);
    color: var(--green-dark);
}

.btn.yellow {
    background-color: var(--yellow);
    color: #fff;
    box-shadow: 0 2px 20px rgba(254, 151, 29, 0.62);
}

.btn.yellow:hover {
    background-color: var(--yellow-dark);
}

.flex {
    display: flex;
}

.h.center {
    justify-content: center;
}

input,
label {
    display: block;
    margin-bottom: 25px;
}

label {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

input {
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid var(--light-gray);
}

input::placeholder {
    color: var(--light-gray);
    text-align: center;
}

.visible-xs{
    display: none !important;
}

.bottom-30{
    margin-bottom: 30px;
}

.bottom-40{
    margin-bottom: 40px;
}

/*--------------------------------------------------
  HEADER
--------------------------------------------------*/

header {
    padding: 20px 0 30px;
    box-shadow: 0 5px 48px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 100;
}

header nav {
    margin-top: 25px;
}

header nav a {
    margin-right: 30px;
}

header nav a:last-child {
    margin-right: 0;
}

header .btn {
    margin-top: 20px;
}

header .btn.m.green {
    margin-right: 20px;
}

header .buttons {
    display: flex;
    justify-content: flex-end;
}

/*--------------------------------------------------
  HERO
--------------------------------------------------*/

.hero {
    background-image: url(../img/bg-1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.hero h1 {
    margin-top: 150px;
    font-size: 40px;
    line-height: 50px;
}

.hero p {
    font-size: 21px;
    margin-bottom: 50px;
}

.hero img {
    margin: 60px 0 80px;
    float: right;
}

/*--------------------------------------------------
  LOGOS
--------------------------------------------------*/

.calculator .logos {
    margin: -100px 0 50px;
}

.logos .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logos h3 {
    font-size: 18px;
}

/*--------------------------------------------------
  WHAT IS
--------------------------------------------------*/

.what-is {
    background-image: url(../img/bg-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.calculator .what-is {
    background-position: center -200px;
    padding: 100px 0 300px;
}

.what-is .col-md-6:nth-child(2) {
    padding-left: 50px;
}

.what-is .discover-form {
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background-color: #fff;
    background-image: url(../img/bg-form.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 50px 60px;
}

.what-is .discover-form h4 {
    font-size: 13px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: var(--yellow);
    text-align: center;
}

.what-is .discover-form label img {
    max-width: 100%;
}

.what-is .discover-form img {
    margin-top: 10px;
}

.what-is .discover-form .flex.h.center {
    margin-top: 40px;
}

.what-is h3 {
    font-size: 36px;
}

.what-is p {
    line-height: 28px;
}

/*--------------------------------------------------
  GET STARTED
--------------------------------------------------*/

.get-started {
    padding: 150px 0 200px;
    text-align: center;
    background-image: url(../img/get-started-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 90%;
    margin: 0 auto;
}

.get-started h2 span {
    color: var(--yellow);
}

.get-started p {
    font-size: 21px;
}

.get-started .btn {
    margin-top: 30px;
}

/*--------------------------------------------------
  TESTIMONIALS
--------------------------------------------------*/

.home .testimonials {
    padding: 250px 0 250px;
    background-image: url(../img/bg-3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -150px;
}

.home .testimonials .owl-carousel {
    background-image: url(../img/testimonials-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 0 250px;
    text-align: center;
    background-position: center 60px;
    color: #fff;
}

.home .testimonials .owl-carousel img {
    border-radius: 100%;
    width: auto;
    border: 5px solid var(--yellow);
}

.home .testimonials .owl-carousel h4 {
    font-size: 24px;
}

.home .testimonials .owl-carousel p {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}

.home .testimonials .slide-navigation {
    margin-top: 100px;
}

.home .testimonials .slide-navigation button {
    display: inline-block;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 100%;
    line-height: 70px;
    margin-right: 20px;
    outline: none;
}

.home .testimonials .slider-container {
    background-image: url(../img/testimonials-slider-bg.png);
    background-repeat: no-repeat;
    background-position: 400px bottom;
}

/*--------------------------------------------------
  FEATURES
--------------------------------------------------*/

.features .col-md-4 {
    text-align: center;
    margin-bottom: 30px;
}

/*--------------------------------------------------
  FOOTER
--------------------------------------------------*/

footer {
    background-image: url(../img/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 0 100px;
    margin-top: -100px;
    color: #fff;
}

footer a {
    color: #A2BDF1;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer form {
    position: relative;
    margin-top: 40px;
}

footer form input[type="email"] {
    position: absolute;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 0 60px;
    background-image: url(../img/icon-subscribe.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    font-size: 16px;
    width: auto;
}

footer form input[type="email"]::placeholder{
    text-align: left
}

footer form input[type="email"]::placeholder {
    color: #CBE3F8;
}

footer form button[type="submit"] {
    position: absolute;
    left: 250px;
}

/*--------------------------------------------------
  ABOUT
--------------------------------------------------*/

.about .hero,
.blog .hero {
    background-image: url(../img/about-hero-bg.svg);
}

.cta {
    padding: 40px 0;
}

.cta .text-center {
    width: 70%;
    margin: 0 auto;
}

.cta .text-center .btn {
    margin-top: 20px;
}

.what-is-lineone {
    margin-top: -150px;
    padding: 250px 0 150px;
    background-image: url(../img/about-what-is-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

.what-is-lineone .text-center p {
    width: 70%;
    color: #8898aa;
    margin: 0 auto 50px;
}

.what-is-lineone .what {
    position: relative;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px;
    min-height: 370px;
    background-color: #fff;
}

.what-is-lineone .what .number {
    position: absolute;
    right: 40px;
    top: -18px;
    height: 35px;
    width: 35px;
    line-height: 27px;
    text-align: center;
    background-color: #24b47e;
    font-size: 12px;
    border: 4px solid #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    color: #fff;
}

.what-is-lineone .what h3 {
    font-size: 18px;
    line-height: 28px;
}

.what-is-lineone .what .content {
    display: flex;
}

.what-is-lineone .what.first {
    background-image: url(../img/about-1-block-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.what-is-lineone .what.second {
    background-image: url(../img/about-2-block-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

.what-is-lineone .what.third {
    background-image: url(../img/about-3-block-bg.svg);
    background-repeat: no-repeat;
    background-position: top left;
}

/*--------------------------------------------------
  BLOG
--------------------------------------------------*/

.blog .blog-section .top-bg {
    height: 100px;
    background: url(../img/blog-bg.svg) no-repeat;
    background-size: contain;
}

.blog .blog-section .color-bg {
    background-color: #ECF4FF;
    padding-bottom: 200px;
    margin-bottom: -200px;
}

.blog .blog-section .article {
    padding: 40px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

.blog .blog-section .article h3 {
    font-size: 22px;
    padding: 0;
    margin: 0 0 10px 0;
}

.blog .blog-section .article .btn {
    margin-top: 10px;
}

.pagination {
    overflow: hidden;
    margin-top: 50px;
}

.pagination a {
    color: #6772e5;
    font-size: 18px;
}

.nav-previous.alignleft {
    float: left;
}

.nav-next.alignright {
    float: right;
}

.blog .sidebar ul {
    list-style-type: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
}

.blog .sidebar ul li a {
    display: block;
    font-weight: 700;
    padding: 15px 20px;
    border-bottom: 2px solid #eaeaea;
    transition: all .5s;
}

.blog .sidebar ul li:last-child a {
    border: none;
}

.blog .sidebar ul li a.active,
.blog .sidebar ul li a:hover {
    background-color: #fff;
    color: var(--green);
}

.blog .sidebar ul li {
    position: relative;
}

.blog .sidebar ul li a:after {
    content: "\f0da";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 20px;
    top: 20px;
}

/*--------------------------------------------------
  TESTIMONIAL
--------------------------------------------------*/

.testimonials .hero {
    background-image: url(../img/testimonials-hero-bg.svg);
    background-repeat: no-repeat;
}

.testimonials .top-bg {
    background-image: url(../img/testimonials-top-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.testimonials .color-bg {
    background-color: #d9e8ff;
    padding-bottom: 200px;
    margin-bottom: -300px;
}

.testimonials .slider .center {
    margin: 0 auto;
    width: 80%;
}

.testimonials .slider h2 {
    margin-top: 0;
}

.testimonials .slider .owl-carousel .owl-item {
    padding: 15px;
}

.testimonials .slider .owl-carousel .item img {
    border-radius: 100%;
    width: auto;
    border: 5px solid var(--yellow);
}

.testimonials .slider .owl-carousel .text-center {
    border-radius: 5px;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 70px 40px 40px;
}

.testimonials .slider .owl-carousel .flex {
    position: relative;
    z-index: 10;
}

.testimonials .slider .owl-carousel .text-center {
    position: relative;
    top: -65px;
}

.testimonials .slider .owl-carousel h4 {
    font-size: 18px;
}

.testimonials .slider .owl-carousel p {
    font-size: 16px;
    margin: 0 auto;
}

.testimonials .slider .owl-carousel .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
}

.testimonials .slider .owl-carousel .owl-nav button {
    display: inline-block;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 100%;
    line-height: 70px;
    margin-right: 20px;
    outline: none;
    position: absolute;
    margin: 0;
    padding: 0;
}

.testimonials .slider .owl-carousel .owl-nav button.owl-prev {
    left: -55px;
}


.testimonials .slider .owl-carousel .owl-nav button.owl-next {
    right: -55px;
}

.testimonials .slider .owl-theme .owl-dots {
    margin-top: -30px;
}

.testimonials .slider .owl-theme .owl-dots .owl-dot span {
    background-color: #24b47e;
    opacity: 0.5;
    width: 16px;
    height: 16px;
}

.testimonials .slider .owl-theme .owl-dots .owl-dot.active span {
    opacity: 1;
}

/*--------------------------------------------------
  SIGN UP
--------------------------------------------------*/
.sign-up {
    padding: 30px;
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-image: url(../img/sign-up-bg-top.svg);
    background-repeat: no-repeat;
    background-position: left top;
}

.sign-up .bottom-bg{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/sign-up-bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.sign-up form{
    position: relative;
    z-index: 1000;
    margin: 50px auto 50px;
    background-color: #fff;
    border-radius: 5px;
    width: 500px;
    min-height: 400px;
    padding: 50px 40px 40px;
    background-image: url(../img/sign-up-form-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--gray);
}

.sign-up form .btn{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.sign-up form input{
    margin-bottom: 40px;
}

.sign-up form .icon-field{
    position: relative;
}

.sign-up form .icon-field .fa{
    position: absolute;
    left: 0;
    top: 17px;
    color: var(--light-gray);
}

.sign-up form p{
    margin-top: 30px;
    font-size: 14px;
    color: var(--light-gray);
}

.sign-up form p a{
    color: var(--light-gray);
    text-decoration: underline;
}

.sign-up .bottom-menu {
    margin-bottom: 30px;
}

.sign-up .bottom-menu a{
    position: relative;
    z-index: 100;
    color: #fff;
    margin: 20px;
    font-size: 15px;
    text-decoration: underline;
}

/*--------------------------------------------------
  MOBILE MENU
--------------------------------------------------*/

#mobile-menu{
    display: none;
}

#mobile-menu nav{
    margin-bottom: 10px;
}

#mobile-menu nav a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

#mobile-menu nav a:first-child{
    border-top: 1px solid #ddd;o
}

#mobile-menu .buttons{
    display: flex;
    justify-content: center;
}

a.toggle-menu-button {
    margin-top: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: black;
    color: #fff;
    float: right;
    font-size: 20px;
}

/*--------------------------------------------------
  MEDIA
--------------------------------------------------*/

@media(max-width: 1200px){
    header nav a{
        margin-right: 20px;
    }

    .blog .blog-section .top-bg{
        background-size: unset;
    }

    footer{
        padding: 200px 0 100px;
    }
}

@media(max-width: 992px){
    .col-md-6 img{
        float: none;
        display: block;
        margin: 0 auto;
    }

    .hero .btn{
        margin-bottom: 50px;
    }

    .logos .list {
        justify-content: center;
    }

    .logos .list img{
        margin: 10px;
    }

    .home .testimonials .slide-navigation{
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    .home .testimonials .owl-carousel{
        padding-bottom: 410px;
    }

    .home .testimonials .owl-carousel p{
        width: 60%;
    }

    #mobile-menu .btn.m{
        margin-bottom: 0;
    }

    .get-started {
        padding: 0px 0 100px;
    }

    footer .btn.yellow.l{
        padding: 0 20px;
    }

    footer .row:last-child .col-sm-4{
        margin-top: 80px;
    }

    .sign-up .text-center{
        position: relative;
        z-index: 10;
    }

    .testimonials .carousel-wrap{
        padding: 0 50px;
    }

}

@media(max-width: 768px){
    .hidden-xs{
        display: none !important;
    }

    .visible-xs{
        display: block !important;
    }

    .home .testimonials .owl-carousel p{
        width: 80%;
    }

    footer{
        padding: 300px 0 100px;
        margin-top: -300px;
    }

    .calculator .logos{
        margin-bottom: 200px;
    }

    .home .features,
    .about .features{
        margin-bottom: 100px;
    }

@media(max-width: 500px){

    .sign-up{
        padding: 10px;
    }

    .sign-up form{
        width: 100%;
        padding: 20px;
    }

    .sign-up form .btn.l{
        padding: 0 10px;
        font-size: 14px;
        letter-spacing: unset;
        width: 100%;
    }

    .sign-up form input{
        font-size: 16px;
    }

    .testimonials .carousel-wrap{
        padding: 0 10px;
    }

    .testimonials .slider .owl-carousel .owl-nav button{
        width: 32px;
        height: 32px;
        line-height: 38px;
    }

    .testimonials .slider .owl-carousel .owl-nav button.owl-prev{
        left: -22px;
    }

    .testimonials .slider .owl-carousel .owl-nav button.owl-next{
        right: -22px;
    }

    .hero h1{
        margin-top: 40px;
        font-size: 40px;
        line-height: 50px;
    }

    .home .testimonials .owl-carousel{
        padding: 0 0 250px;
        background-image: url(../img/testimonials-bg-xs.svg);
    }

    .home .testimonials .owl-carousel h4{
        margin: 15px 0 5px;
    }

    .home .testimonials .owl-carousel p{
        font-size: 15px;
    }

    .home .testimonials .slide-navigation button img{
        width: auto;
    }

    .col-md-6 img{
        width: 100%;
        height: auto;
    }

    .get-started h2{
        font-size: 40px;
    }

    footer form input[type="email"]{
        width: 100%;
    }

    footer form button.btn{
        left: unset;
        right: 0;
    }

}